//out: false 

.page__footer {
    background-color: #080809;
    padding-top: 60px;
    padding-bottom: 30px;

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        .nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            a {
                font: 500 18px @fontS;
                color:#F5F5F5; 
                text-align: center;               

                &:hover {
                    color: #30FFFF;
                    cursor: pointer;
                }
            }
        }

        .logo {
            a {
                img {
                    display: block;
                    max-width: 180px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .social {
            display: flex;
            gap: 12px;

            a {
                img {
                    max-width: 20px;
                }
                &:hover {
                    img {
                        filter: brightness(0) saturate(100%) invert(99%) sepia(28%) saturate(6479%) hue-rotate(132deg) brightness(104%) contrast(105%); 
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between; 
            padding-left: 40px;
            padding-right: 40px;
            
            .nav {
                align-items: flex-start;
                width: 180px;

                a {
                    text-align: left;
                }
            }

            .social {
                flex-direction: column;
                align-items: flex-end;
                width: 180px;
            }
            
        }
    }

    .footer__copyrights {
        padding-top: 30px;
        border-top: 2px solid #30FFFF;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        .copyright__customer {

            p {
                font: 400 14px @fontS;
                color: #F5F5F5;
                margin-bottom: 20px;
            }
        }

        .fabi {
            p {
                font: 400 14px @fontS;
                color: #F5F5F5;
                margin-bottom: 6px; 
            }

            a {
                font: 600 16px @fontS;
                color: #30FFFF;

                &:hover {
                    color: #30FFFF;
                    text-decoration: underline;
                    text-underline-offset: 4px;  
                }
            }
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;

            .fabi {
                display: flex;
                align-items: center;

                p {
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }


}