// out: false

@import "../base/_pallete.less";

.button__whatsapp--floating {
    display: inline-block;
    z-index: 5000;
    position: fixed;
    bottom: 5px;
    right: 9px;    
    padding: 8px 12px;
    border-radius: 100%;
    border: 1px solid #1e1e9b;
    background-image: linear-gradient(90deg, rgb(48, 255, 255), rgb(64, 48, 255));
    
    i {
        font-size: 36px;
        color: #080809
    }
    
    &:hover {
        i {
            color: #F5F5F5;
        }
    }
}