@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jYPWcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jWfWcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA74TFosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rFosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7_PFosg.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
body {
  background-color: #080809;
}
.mark__cyan {
  color: #30FFFF;
}
.page__header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  z-index: 3000;
}
.page__header h1 {
  margin-left: 15px;
}
.page__header h1 a img {
  max-width: 140px;
}
@media screen and (min-width: 768px) {
  .page__header h1 {
    margin-left: 0;
  }
}
.page__header .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__header .is--desktop {
    display: block;
  }
  .page__header .is--desktop .menu__desk {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
  }
  .page__header .is--desktop .menu__desk .menu__link {
    font: 500 16px 'Saira', sans-serif;
    color: #F5F5F5;
    transition: all 0.3s linear;
  }
  .page__header .is--desktop .menu__desk .menu__link:hover {
    color: #30FFFF;
  }
  .page__header .is--desktop .menu__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 136px;
  }
  .page__header .is--desktop .menu__social .icon__social {
    color: #F5F5F5;
    font-size: 30px;
    transition: all 0.3s linear;
  }
  .page__header .is--desktop .menu__social .icon__social i.fa-facebook {
    font-size: 28px;
  }
  .page__header .is--desktop .menu__social .icon__social:hover {
    color: #30FFFF;
  }
}
.page__header .is--mobile .navbar__hamburguer {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}
.page__header .is--mobile .navbar__overlay {
  background-color: #080809;
  z-index: 3001;
  display: none;
}
.page__header .is--mobile .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
  margin: 30px 30px 106px 30px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__logo {
  width: 100px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
  font-size: 30px;
  color: #30FFFF;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font: 400 15px 'Saira', sans-serif;
  color: white;
  text-decoration: none;
  margin-bottom: 19px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__button {
  margin-top: 40px;
  margin-bottom: 76px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__button i {
  font-size: 20px;
  color: #080809;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  width: 130px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social a {
  text-decoration: none;
  font-size: 23px;
  color: #30FFFF;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .page__header .is--mobile {
    display: none;
  }
}
.btn__cyanblue {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #30ffff, #4030ff);
  font: 700 20px 'Saira', sans-serif;
  text-transform: uppercase;
  color: #080809;
  padding: 20px 35px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  transition: all linear 0.15s;
}
.btn__cyanblue i {
  font-size: 25px;
  margin-right: 10px;
}
.btn__cyanblue:hover {
  background-image: linear-gradient(270deg, #30ffff, #4030ff);
  color: #f5f5f5;
  cursor: pointer;
}
.btn__black {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080809;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  font: 700 22px 'Exo 2', sans-serif;
  color: #F5F5F5;
  padding: 20px 40px;
  transition: all linear 0.15s;
}
.btn__black img {
  width: 25px;
  margin-right: 20px;
}
.btn__black:hover {
  background-color: #1E1E9B;
  color: white;
}
.page__footer {
  background-color: #080809;
  padding-top: 60px;
  padding-bottom: 30px;
}
.page__footer .footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.page__footer .footer__content .nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  order: 2;
  margin-bottom: 20px;
}
.page__footer .footer__content .nav a {
  font: 500 18px 'Saira', sans-serif;
  color: #F5F5F5;
  text-align: center;
}
.page__footer .footer__content .nav a:hover {
  color: #30FFFF;
  cursor: pointer;
}
.page__footer .footer__content .logo {
  order: 1;
  margin-bottom: 20px;
}
.page__footer .footer__content .logo a img {
  display: block;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
.page__footer .footer__content .social {
  display: flex;
  gap: 12px;
  order: 3;
}
.page__footer .footer__content .social a img {
  max-width: 20px;
}
.page__footer .footer__content .social a:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(28%) saturate(6479%) hue-rotate(132deg) brightness(104%) contrast(105%);
}
@media screen and (min-width: 768px) {
  .page__footer .footer__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
  }
  .page__footer .footer__content .nav {
    align-items: flex-start;
    width: 180px;
    order: 1;
    margin-bottom: 0;
  }
  .page__footer .footer__content .nav a {
    text-align: left;
  }
  .page__footer .footer__content .logo {
    order: 2;
    margin-bottom: 0;
  }
  .page__footer .footer__content .social {
    flex-direction: column;
    align-items: flex-end;
    width: 180px;
    order: 3;
  }
}
.page__footer .footer__copyrights {
  padding-top: 30px;
  border-top: 2px solid #30FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__footer .footer__copyrights .copyright__customer p {
  font: 400 14px 'Saira', sans-serif;
  color: #F5F5F5;
  margin-bottom: 20px;
}
.page__footer .footer__copyrights .fabi p {
  font: 400 14px 'Saira', sans-serif;
  color: #F5F5F5;
  margin-bottom: 6px;
}
.page__footer .footer__copyrights .fabi a {
  font: 600 16px 'Saira', sans-serif;
  color: #30FFFF;
}
.page__footer .footer__copyrights .fabi a:hover {
  color: #30FFFF;
  text-decoration: underline;
  text-underline-offset: 4px;
}
@media screen and (min-width: 768px) {
  .page__footer .footer__copyrights {
    flex-direction: row;
    justify-content: space-between;
  }
  .page__footer .footer__copyrights .fabi {
    display: flex;
    align-items: center;
  }
  .page__footer .footer__copyrights .fabi p {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 5000;
  position: fixed;
  bottom: 5px;
  right: 9px;
  padding: 8px 12px;
  border-radius: 100%;
  border: 1px solid #1e1e9b;
  background-image: linear-gradient(90deg, #30ffff, #4030ff);
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: #080809;
}
.button__whatsapp--floating:hover i {
  color: #F5F5F5;
}
.owl-carousel.owl-theme.services__carousel .card__wrap {
  background-image: linear-gradient(200deg, #30ffff, #4030ff);
  padding: 10px;
  border-radius: 30px;
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}
.owl-carousel.owl-theme.services__carousel .card__wrap .card__service {
  background-color: #080809;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 38px;
  border-radius: 25px;
  width: 250px;
  height: 250px;
}
.owl-carousel.owl-theme.services__carousel .card__wrap .card__service img {
  width: fit-content;
  margin-bottom: 10px;
}
.owl-carousel.owl-theme.services__carousel .card__wrap .card__service h4 {
  font: 500 24px 'Saira', sans-serif;
  color: #F5F5F5;
  text-align: center;
}
.owl-carousel.owl-theme.services__carousel .card__wrap .card__service p {
  font: 400 16px 'Saira', sans-serif;
  color: #F5F5F5;
  text-align: center;
}
.owl-carousel.owl-theme.services__carousel .owl-dots {
  margin-top: 29px;
}
.owl-carousel.owl-theme.services__carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background-color: #1E1E9B;
}
.owl-carousel.owl-theme.services__carousel .owl-dots .owl-dot.active span {
  background-color: #30FFFF;
}
@media screen and (min-width: 768px) {
  .owl-carousel.owl-theme.services__carousel {
    display: none;
  }
}
.owl-carousel.owl-theme.about__carousel img {
  max-width: 500px;
}
.owl-carousel.owl-theme.about__carousel .owl-nav {
  display: flex;
  justify-content: flex-end;
  height: 44px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #092d23;
  background-color: #deb78f;
  border-radius: 0;
  border-top-left-radius: 5px;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #092d23;
  background-color: #deb78f;
  border-radius: 0;
  border-bottom-right-radius: 5px;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev,
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next {
  margin: -1px;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev:hover,
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next:hover {
  border: 1px solid #fff;
  color: #fff;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev span,
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next span {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .owl-carousel.owl-theme.about__carousel .owl-nav {
    right: 21px;
  }
}
.page__banner {
  background-image: url('../img/bg-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
}
.page__banner h2 {
  font: 700 40px 'Saira', sans-serif;
  color: #F5F5F5;
  text-align: center;
  line-height: 60px;
}
.page__banner h3 {
  font: 500 20px 'Saira', sans-serif;
  color: #F5F5F5;
  text-align: center;
  margin-bottom: 48px;
}
.page__banner .click__down {
  margin-top: 70px;
  margin-bottom: 80px;
}
.page__banner .click__down img {
  width: 30px;
}
@media screen and (min-width: 768px) {
  .page__banner h2 {
    font-size: 48px;
  }
}
.page__services {
  background-image: url('../img/bg-services.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;
}
.page__services .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 62px;
}
.page__services .title h2 {
  font: 700 42px 'Saira', sans-serif;
  color: #30FFFF;
  text-align: center;
}
.page__services .cards__services.is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__services .cards__services.is--desktop {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .page__services .cards__services.is--desktop .cards {
    display: flex;
    justify-content: center;
  }
  .page__services .cards__services.is--desktop .cards .card__wrap {
    background-image: linear-gradient(200deg, #30ffff, #4030ff);
    padding: 10px;
    border-radius: 30px;
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
  }
  .page__services .cards__services.is--desktop .cards .card__wrap .card__service {
    background-color: #080809;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 38px;
    border-radius: 25px;
    width: 250px;
    height: 250px;
  }
  .page__services .cards__services.is--desktop .cards .card__wrap .card__service img {
    width: fit-content;
    margin-bottom: 10px;
  }
  .page__services .cards__services.is--desktop .cards .card__wrap .card__service h4 {
    font: 500 24px 'Saira', sans-serif;
    color: #F5F5F5;
    text-align: center;
  }
  .page__services .cards__services.is--desktop .cards .card__wrap .card__service p {
    font: 400 16px 'Saira', sans-serif;
    color: #F5F5F5;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .page__services {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
.page__about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../img/bg-about-mobile.png');
  background-color: #080809;
  background-repeat: no-repeat;
  background-size: cover;
}
.page__about .title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.page__about .title h2 {
  font: 700 42px 'Saira', sans-serif;
  color: #4030FF;
}
.page__about .title img {
  width: fit-content;
}
.page__about .about__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.page__about .about__wrapper .cards__about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page__about .about__wrapper .cards__about .card__person {
  position: relative;
  background-color: #080809;
  padding: 20px;
  max-width: 235px;
  max-height: 377px;
  box-shadow: 0 0 10px rgba(48, 255, 255, 0.6);
}
.page__about .about__wrapper .cards__about .card__person .detail__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.page__about .about__wrapper .cards__about .card__person .detail__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.page__about .about__wrapper .cards__about .card__person .photo__card {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  width: 192px;
}
.page__about .about__wrapper .cards__about .card__person h3 {
  font: 600 20px 'Saira', sans-serif;
  color: #F5F5F5;
  margin-bottom: 5px;
}
.page__about .about__wrapper .cards__about .card__person .text__card {
  font: 400 14px 'Saira', sans-serif;
  color: #F5F5F5;
}
.page__about .about__wrapper .content__about {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.page__about .about__wrapper .content__about .detail__top {
  position: absolute;
  top: -77px;
  left: -21px;
  z-index: 1;
}
.page__about .about__wrapper .content__about .detail__bottom {
  position: absolute;
  bottom: -85px;
  right: 0;
  z-index: 1;
}
.page__about .about__wrapper .content__about .text__content {
  font: 400 18px 'Saira', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #F5F5F5;
  max-width: 402px;
  position: relative;
  z-index: 2;
}
.page__about .about__wrapper .content__about .text__content span {
  color: #30FFFF;
}
@media screen and (min-width: 768px) {
  .page__about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/bg-about.png');
  }
  .page__about .title {
    margin-bottom: 60px;
  }
  .page__about .about__wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .page__about .about__wrapper .cards__about {
    flex-direction: row;
  }
  .page__about .about__wrapper .content__about {
    margin-left: 30px;
  }
}
.page__cta {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('../img/bg-cta-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__cta .content {
  align-items: center;
}
.page__cta .content .text {
  font: 700 42px 'Exo 2', sans-serif;
  color: #080809;
  margin-bottom: 30px;
  text-align: center;
}
.page__cta .content .button {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .page__cta {
    background-image: url('../img/bg-cta.png');
  }
  .page__cta .content .text {
    margin-bottom: 0;
    text-align: left;
  }
  .page__cta .content .button {
    justify-content: flex-end;
  }
}
.page__contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #080809;
}
.page__contact .title {
  display: flex;
  align-items: center;
}
.page__contact .title h2 {
  font: 700 42px 'Saira', sans-serif;
  color: #30FFFF;
  text-align: center;
  margin-right: 6px;
  margin-bottom: 5px;
}
.page__contact .title img {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .page__contact .title img {
    width: fit-content;
  }
}
.page__contact p {
  font: 400 16px 'Saira', sans-serif;
  color: #F5F5F5;
  margin-bottom: 60px;
}
.page__contact .form__standard .data {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.page__contact .form__standard .data input[type="text"],
.page__contact .form__standard .data input[type="email"],
.page__contact .form__standard .data input[type="tel"] {
  padding: 20px 30px;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 10px;
  font: 400 18px 'Saira', sans-serif;
  color: black;
  border: 1px solid transparent;
  caret-color: #080809;
}
.page__contact .form__standard .data input[type="text"]:hover,
.page__contact .form__standard .data input[type="email"]:hover,
.page__contact .form__standard .data input[type="tel"]:hover {
  border-color: rgba(0, 255, 255, 0.671);
  outline: 1px solid transparent;
}
.page__contact .form__standard .data input[type="text"]::placeholder,
.page__contact .form__standard .data input[type="email"]::placeholder,
.page__contact .form__standard .data input[type="tel"]::placeholder {
  font: 400 18px 'Saira', sans-serif;
  color: #4d4d4d;
}
.page__contact .form__standard .message {
  margin-top: 32px;
}
.page__contact .form__standard .message textarea {
  padding: 20px 30px;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 10px;
  font: 400 18px 'Saira', sans-serif;
  color: black;
  border: 1px solid transparent;
  caret-color: #080809;
  margin-bottom: 10px;
}
.page__contact .form__standard .message textarea:hover {
  border-color: rgba(0, 255, 255, 0.671);
  outline: 1px solid transparent;
}
.page__contact .form__standard .message textarea::placeholder {
  font: 400 18px 'Saira', sans-serif;
  color: #4d4d4d;
}
@media screen and (min-width: 768px) {
  .page__contact .form__standard .message {
    margin-top: 0;
  }
}
.page__contact .form__standard .button {
  border: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page__contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
