// out: false

@import "../base/_pallete.less";

.page__banner {    
    background-image: url('../img/bg-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 220px;

    h2 {
        font: 700 48px @fontS;
        color: #F5F5F5;
        text-align: center;
        line-height: 60px;
    }

    h3 {
        font: 500 20px @fontS;
        color: #F5F5F5;
        text-align: center;
        margin-bottom: 48px;
    }

    .click__down {
        margin-top: 70px;
        margin-bottom: 80px;

        img {
            width: 30px;
        }
    }

} 

.page__services {
    background-image: url('../img/bg-services.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 62px;

        h2 {
            font: 700 42px @fontS;
            color: #30FFFF;
            text-align: center;            
        }
    }

    .is--desktop {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            margin-right: 80px;
            margin-left: 80px;

            .cards {
                display: flex;
                justify-content: center;

                .card__wrap {
                    background-image: linear-gradient(200deg, rgb(48, 255, 255), rgb(64, 48, 255));
                    padding: 10px;
                    border-radius: 30px;
                    width: 270px;
                    height: 270px;
                    margin-bottom: 30px;

                    .card__service {
                        background-color: #080809;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 30px 38px;
                        border-radius: 25px;
                        width: 250px;
                        height: 250px;
                        
                        img {
                            width: fit-content;
                            margin-bottom: 10px;
                        }

                        h4 {
                            font: 500 24px @fontS;
                            color: #F5F5F5;
                            text-align: center;
                        }

                        p {
                            font: 400 16px @fontS;
                            color: #F5F5F5;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.page__about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../img/bg-about-mobile.png');
    background-color: #080809;
    background-repeat: no-repeat;
    background-size: cover;


    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        h2 {
            font: 700 42px @fontS;
            color: #4030FF;
        }

        img {
            width: fit-content;
        }
    }

    .cards {
        display: flex;
        gap: 20px;       

        .card__person {
            position: relative;
            background-color: #080809;
            padding: 30px;
            max-width: 268px;
            box-shadow: 0 0 10px rgba(48, 255, 255, 0.6);

            .detail__top {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .detail__bottom {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            .photo__card {
                position: relative;
                z-index: 2;
                margin-bottom: 20px;
            }

            h3 {
                font: 600 24px @fontS;
                color: #F5F5F5;
                margin-bottom: 5px;
            }

            .text__card {
                font: 400 16px @fontS;
                color: #F5F5F5;
            }
        }
    }

    .content {
        position: relative;
        margin-top: 40px;
        display: flex;
        justify-content: center;

        .detail__top {
            position: absolute;
            top: -77px;
            left: -21px; 
            z-index: 1;   
        }

        .detail__bottom {
            position: absolute;
            bottom: -85px;
            right: 0;
            z-index: 1;
        }

        .text__content {
            font: 400 18px @fontS;
            letter-spacing: 1px;
            text-align: center;
            color: #F5F5F5;
            max-width: 402px;
            position: relative;
            z-index: 2;

            span {
                color: #30FFFF;
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url('../img/bg-about.png');

        .title {
            margin-bottom: 60px;
        }
    }
}
